.back{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f7731566332741.5b13e3a3239f4.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}