

@font-face {
    font-family: 'helveticaNeue';
    src: url(../public/HELVETICANEUEBOLD.TTF);
}

.helveticaNeue {
    font-family: 'helveticaNeue';
}

@font-face {
    font-family: 'arialNova';
    src: url(../public/ARIALNOVA-LIGHT.TTF);
}

.arialNova {
    font-family: 'arialNova';
}

.swal2-image {
    border: none !important;
    box-shadow: none !important;
}

.back {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f7731566332741.5b13e3a3239f4.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.backHome {
    background-image: url('ezcode/components/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    color: white;
}